[core]
	editor = nvim
[user]
	name = JOSEALM3IDA
	email = josealmeida.dev@gmail.com
[credential]
	helper = store
[alias]    
	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
